/*.App{
  text-align: center;
  background-color: #7a9bdd;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}
.App h1{
  color: white;
}*/